{% extends "@app/layout.twig" %}

{% block content %}

<h1>Hello</h1>

<ul>
	<li><a href="/accounts">Accounts</a></li>
	<li><a href="/add_money">Add money</a></li>
	<li><a href="/transfer_money">Transfer money</a></li>
	<li><a href="/clearing">Do clearing</a></li>
</ul>

{% endblock %}