{% extends "@app/layout.twig" %}

{% block content %}

<h1>List</h1>

<a href="/add_money">Add money</a><br/>
<a href="/transfer_money">Transfer money</a><br/>
<a href="/clearing">Do clearing</a><br/>

{% endblock %}